/* =========================================
   PART 1: AAPKA ORIGINAL CODE (Desktop/Laptop)
   (Isay nahi cheda taake laptop kharab na ho)
   ========================================= */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.border {
    border: 1.5px transparent solid;
}

.border :hover {
    border: 2px solid rgb(243, 238, 238);
}

header {
    display: flex;
    height: 160px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header_image {
    height: auto;
    width: 1000px;
    align-items: flex-start;
}
.main_logo{
    max-width: 100%; 
    height: auto;
    display: block;
}

.header_call_box {
    height: auto;
    width: 400px;
    font-family: sans-serif;
    margin-left: 180px;
}

.call_title {
    color: maroon;
    font-size: 30px;
    font-weight: 500;
}

.line {
    border: 0;
    border-top: 4px solid #444;
    margin: 2px 0;
    width: 96%;
}

.number {
    font-size: 60px;
    color: black;
    font-weight: bold;
}

.call_subtitle {
    font-weight: 200px;
    color: rgb(40, 37, 37);
    font-size: 23px;
}

/**Navigation_bar**/
.navigation_bar {
    background-color: rgb(144, 3, 3);
    height: 50px;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
    font-weight: lighter;
}

.navbar {
    color: white;
    display: flex;
    border-top: 2px solid #fff;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px 20px;
}

.active {
    background-color: #9f9e9e;
    display: block;
}

/*Navigation bar completed*/
/*heo section*/
.hero_section {
    display: flex;
    margin-top: 30px;
}

.hero_image {
    padding-left: 30px;
}

.hero_image img {
    width: 780px;
    height: 450px;
}

.hero_form_section {
    /* HERO form*/
    background-image: url(./form_bg.jpg);
    background-size: cover;
    height: 450px;
    width: 660px;
    margin-left: 20px;
}

.hero_container {
    padding: 30px;
    position: relative;
    display: flex;
}

.form_header {
    display: flex;
    align-items: flex-start;
}

.question_box {
    background-color: #810606;
    color: white;
    font-weight: bold;
    padding: 28px 15px 15px 15px;
    margin-left: -30px;
    align-items: center;
    letter-spacing: 1px;
}

.form_header p {
    color: #333;
    margin-top: -20px;
    font-weight: bold;
    margin-left: 70px;
}

.form_header p span {
    color: #2006e7;
    font-weight: bolder;
    font-size: larger;

}

.form_hero p {
    margin-left: 40px;
    margin-top: -30px;
}

.form_body {
    padding: 0 20px 20px 20px;
    position: relative;
    font-family: sans-serif;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    width: 80px;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    text-align: right;
    margin-right: 10px;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    max-width: 250px;
}

.confidential-stamp {
    position: absolute;
    top: 30px;
    right: 80px;
    width: 200px;
    opacity: 0.9;
    transform: rotate(15deg);
    z-index: 10;
    pointer-events: none;
}

.message-box {
    width: 100%;
    margin-top: 15px;
}

.message-box textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #838181;
    font-weight: bold;
    font-size: 15px;
    resize: none;
    font-family: sans-serif;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
}

.privacy-text {
    font-style: italic;
    color: #666;
    font-size: 13px;
}

.submit_button {
    display: flex;
    background-color: #810606;
    color: #fff;
    height: 50px;
    width: 300px;
    font-size: 25px;
    align-items: center;
    border: 1px solid #600000;
    justify-content: center;
    cursor: pointer;
}

.submit_button img {
    margin-left: 15px;
}

/**2nd hero section starst from here**/
.second_hero {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

.box_1 {
    flex: 1 1 300px;
    max-width: 400px;
}

.vertical-line {
    display: none;
}

.box_1_text1 h2 {
    font-weight: 700;
    font-size: clamp(20px, 3.5vw, 27px);
    font-family: serif;
}

.box_1_text1 h3 {
    color: brown;
    font-size: clamp(16px, 2.5vw, 20px);
    margin: 10px 0;
}

.box_1_text1 span {
    color: brown;
}

.box_1_text2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
}

.box1_text_container p {
    font-size: clamp(14px, 2.5vw, 19px);
    line-height: 1.6;
}

.box1_image_container img {
    max-width: 100px;
    height: 160px;
    margin-left: 40px;
    position: relative;
    bottom: 30px;
}

.box1_button_container {
    text-align: center;
    margin: 20px 0;
    margin-left: 130px;
}

.box1_button_container button {
    color: white;
    background-color: rgb(175, 12, 12);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    margin-top: -15px;
}

.box1_button_container button img {
    vertical-align: middle;
    margin-left: 5px;
}

/*Second hero box 1 is completed here and box2 starts from here*/
.box_2 {
    flex: 1 1 300px;
    max-width: 570px;
}

.box2_top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.box2_left button {
    color: white;
    background-color: rgb(175, 12, 12);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    height: 45px;
    margin-left: 70px;
    width: 160px;
    margin-top: 20px;
}

.box2_left button img {
    vertical-align: middle;
    margin-left: 5px;
}

.box2_left h2 {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 700;
}

.box2_bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.box2_leftbottom button {
    color: white;
    background-color: rgb(175, 12, 12);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    width: 160px;
    height: 45px;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
}

.box2_leftbottom button img {
    vertical-align: middle;
    margin-left: 5px;
}

.box2_leftbottom h2 {
    font-size: clamp(14px, 3vw, 25px);
    font-weight: 700;
}

.box2_left span,
.box2_leftbottom span {
    color: brown;
}

.box2_left {
    font-size: clamp(14px, 2.5vw, 19px);
    margin: 10px 0;
}

.box2_leftbottom p {
    font-size: clamp(20px, 2.5vw, 19px);
    margin: 10px 0;
}

.box2_right img {
    max-width: 225px;
    height: 130px;
    margin-left: 28px;
}

.box2_rightbottom img {
    max-width: 210px;
    height: 125px;
    margin-left: 10px;
}

.horizontal-line {
    border-top: 2px solid rgb(180, 179, 179);
    padding: 20px;

}

/*box2 completed here and starts box 3*/
.box_3 {
    flex: 1 1 300px;
    max-width: 400px;
    margin-left: 10px;
}

.box3_top {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    margin-left: -30px;
}

.box3_bottom {
    margin-top: 45px;
}

.box3_bottom h2 {
    font-size: clamp(20px, 3vw, 25px);
    font-weight: 700;
    margin-left: 15px;
}

.box3_lefttop img {
    max-width: 160px;
    height: 130px;
}

.box3_righttop img {
    max-width: 160px;
    height: 130px;
}

.box3_bottom span {
    color: brown;
}

.box3_bottom p {
    font-size: clamp(14px, 2.5vw, 19px);
    margin: 10px 0;
    margin-left: 15px;
}

.box3_bottom button {
    color: white;
    background-color: rgb(175, 12, 12);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    margin-left: 130px;
    height: 45px;
    width: 165px;
}

.box3_bottom button img {
    vertical-align: middle;
    margin-left: 5px;
}

/*box 3 ends here as well as hero section 2 ends here */

.third_hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar-left {
    order: 2;
}

.practice-heading {
    font-size: clamp(20px, 3.5vw, 24px);
    font-weight: 800;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.practice-heading span {
    color: #8B0000;
}

.practice-button {
    background-color: grey;
    margin-bottom: 10px;
    padding: 12px;
    border-left: 12px solid #8B0000;
    height: 75px;
    width: 250px;
}

.cta1 button,
.cta2 button,
.cta3 button {
    color: white;
    background-color: rgb(175, 12, 12);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: bold;
    margin-top: 8px;
}

.img {
    margin: 40px 0;
}

.img img {
    width: 100%;
    height: auto;
}

.button-text {
    display: block;
    color: white;
    font-weight: bold;
    font-size: clamp(14px, 2vw, 16px);
    margin-bottom: 5px;
}

.learn-more {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: clamp(11px, 1.8vw, 13px);
    cursor: pointer;
    font-weight: bold;
    margin-left: 82px;
}

.learn-more img {
    vertical-align: middle;
    margin-left: 3px;
}

.learn-more-heading {
    font-size: clamp(18px, 3vw, 25px);
    margin-top: 30px;
}

.learn-more-heading .highlight-red {
    color: #8B0000;
}

.menu-placeholder {
    color: #D3D3D3;
    font-size: clamp(20px, 3.5vw, 26px);
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-right: 540px;
}

.menu-placeholder p {
    font-family: sans-serif;
    line-height: 35px;
    margin: 5px 0;
}                                                                           /* Main Content */
.main_content {
    order: 1;
}

.page-title {
    font-size: clamp(35px, 4vw, 30px);
    color: #333;
    margin-top: -1px;
    margin-bottom: 5px;
    font-weight: 900;
}

.main_content p {
    margin-bottom: 15px;
    font-size: clamp(17px, 2vw, 15px);
    text-align: justify;
    color: #666;
    line-height: 27px;
    width: 820px;
    align-items: center;
}
/* Right Sidebar */
.sidebar_right {
    order: 3;
}

.cta1,
.cta2,
.cta3 {
    padding: 18px;
    margin-bottom: 15px;
    width: 250px;
}

.cta1 h3,
.cta2 h3,
.cta3 h3 {
    font-size: clamp(20px, 3vw, 25px);
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 10px;
}

.cta1 span,
.cta2 span,
.cta3 span {
    color: brown;
}

.cta1 p,
.cta2 p,
.cta3 p {
    font-size: clamp(15px, 2.5vw, 19.5px);
    margin: 10px 0;
}

.click_here {
    margin-left: 60px;
}

.badges,
.badges2 {
    text-align: center;
    margin: 20px 0;
}

.badges img,
.badges2 img {
    max-width: 100%;
    height: 150px;
}

.social-section {
    padding: 20px 0;
}

.social-heading h4 {
    font-size: clamp(30px, 3vw, 25px);
    font-weight: 900;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.social-heading span {
    color: #8B0000;
}

.shadow {
    text-align: center;
    margin: 15px 0;
}

.shadow img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.social-icons img {
    max-width: 40px;
    height: 40px;
}

/* Tablet and Desktop - 768px and up */
@media (min-width: 768px) {
    .third_hero {
        grid-template-columns: 250px 1fr;
    }

    .sidebar_left {
        width: 800px;
        order: 1;
    }

    .main_content {
        order: 2;
    }

    .sidebar_right {
        order: 3;
        grid-column: 1 / -1;
    }
}

/* Large Desktop - 1024px and up */
@media (min-width: 1024px) {
    .third_hero {
        grid-template-columns: 250px 1fr 280px;
    }

    .sidebar_right {
        grid-column: auto;
    }

    .second_hero {
        gap: 0;
    }

    .vertical-line {
        display: block;
        border-left: 2px solid rgb(180, 179, 179);
        height: auto;
        min-height: 365px;
        margin: 0 20px;
    }

    .navbar a {
        padding: 12px 20px;
    }
}

/* Extra Large Desktop - 1400px and up */
@media (min-width: 1400px) {
    header {
        padding: 20px 40px;
    }

    .hero_section {
        flex-direction: row;
    }

    .second_hero {
        padding: 20px 40px;
    }
}

/* Moile sccreen changes */

@media screen and (max-width: 900px) {
    
    /* HEADER FIX */
    header {
        flex-direction: column;
        height: auto !important;
        padding: 15px;
        text-align: center;
    }

    .header_image {
        width: 100%;
        max-width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .header_image img {
        max-width: 100%;
        height: auto;
    }

    .header_call_box {
        margin-left: 0 !important;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .navbar {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* HERO SECTION FIX */
    .hero_section {
        flex-direction: column;
        align-items: center;
    }

    .hero_image {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .hero_image img {
        width: 100%;
        height: auto;
    }

    .hero_form_section {
        width: 100% !important;
        max-width: 100%;
        margin-left: 0 !important;
        height: auto !important;
        margin-top: 20px;
    }
    
    /* FORM FIXES */
    .confidential-stamp {
        display: none; /* Mobile par hata diya */
    }
    
    .input-group {
        flex-wrap: wrap;
    }
    
    .input-group label {
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .input-group input {
        width: 100%;
        max-width: 100%;
    }
    
    .form_header p {
        margin-left: 0;
        margin-top: 10px;
    }

    /* GRID FIX (MAIN CONTENT) */
    .third_hero {
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
    }
    
    .main_content p {
        width: 100% !important;
        padding: 0 10px;
    }
    
    .sidebar_left, .main_content, .sidebar_right {
        width: 100% !important;
        order: unset !important; /* Original order follow karega */
    }

    /* OTHER FIXES */
    .vertical-line {
        display: none !important;
    }
    
    .box2_top, .box2_bottom, .box3_top {
        flex-direction: column;
    }
    
    .menu-placeholder {
        margin-right: 0;
        margin-top: 20px;
    }
    
    .box1_button_container {
        margin-left: 0;
    }
    
    .box3_bottom button {
        margin-left: 0;
    }
}